* {
  box-sizing: border-box;
}

input::placeholder{
  font-size: 1.1em;
  font-style: italic;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.no-bullets{
  list-style-type: none;
  margin: 0;
  padding: 0;
}